<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Condiment&family=Great+Vibes&family=Story+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="headerContents">
            <div class="pageButtons">
                <form action="/" method="get">
                    <button type="submit">Home</button>
                </form>
                <form action="/more" method="get">
                    <button type="submit">More</button>
                </form>
                <form action="/add" method="get">
                    <button type="submit">Add</button>
                </form>
                
            </div>
        </div>
              
    </div>    
    <main>


