<%- include("partials/header.ejs") %>

<div class="container">
    <div style="margin-top: 50px;"> </div>
    <form action="/add" method="post">
        <div class="theme add">
            <label for="theme">Theme:</label>
            <!-- <input type="text" name="theme" id="theme" value="" autofocus> -->
            <select name="theme" id="theme">
                <option value=""></option>
                <% themes.forEach(currentTheme=> { %>
                    <option value=<%= currentTheme.id %>><%=currentTheme.theme %></option>
                <% }); %>
            </select>
        </div>
        <div class="title add">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="">
        </div>
        <div class="notes add">
            <label for="stanzas">Stanzas:</label>
            <textarea class="stanzas" type="text" name="stanzas" id="stanzas" cols="50" rows="30"></textarea>
        </div>
        <div class="buttons">
            <button class="btn" type="submit">Save</button>
            <button class="btn" type="submit" onclick="setCancel()">Cancel</button>
        </div>
        <input type="hidden" name="cancel" id="cancel" value="">
    </form>
</div>
<script>
    function setCancel() {
        if(document.getElementById("cancel").value === "true") {
            document.getElementById("cancel").value = "false";
        } else {
            document.getElementById("cancel").value = "true";
        }        
    }
</script>

<%- include("partials/footer.ejs") %>