html, body {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 10vh;
    padding-left: 10px;    
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #DDA853;
    background-image: url("/images/MakatangProgrammer.jpg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 85vh;
    padding-left: 10px;
    padding-right: 10px;    
    background-image: url("/images/book.jpg");
    background-size: cover; /* fills the screen */    
    background-position: center; /* centers the image */    
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.footer {
    /* border: solid black 1px; */
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #DDA853;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

.headerContents {
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding: 0px;
    margin: 0px;
}

.pageTitle {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 45px;
}

.pageButtons {
    display: flex;
    justify-content: right;
    align-items: last baseline;    
}

.pageButtons button {
    width: 50px;
    border-radius: 5px;
    margin: 0px;
    background-color: #E7DEAF;
    box-shadow: horizontal-offset vertical-offset blur-radius spread-radius color;
}

/* body {
    background-image: url("/public/images/pngtree.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.container h1, h2, h3 {
    color: white;
    text-shadow: -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}

.add {
    display: flex;
    align-items: first baseline;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.container label {
    color: white;
    text-shadow: -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
    padding-right: 10px;
}

.container p {
    white-space: pre-line;
    color: white;
    text-shadow: -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
    padding-right: 10px;
    font-size: large;
}

.stanzas {
    max-height: 400px;
    overflow-y: scroll;
    width: 300px;
    padding: 10px;
    padding-left: 15px;
    font-size: 2rem;

    /* font-family: "Condiment", cursive; */
    font-weight: 400;
    /* font-style: normal; */
    font-size: 500px;
}

@media (max-width: 768px) {
    .stanzas {
        max-height: 200px;  
        overflow-y: scroll;
        width: 200px;
        padding: 2px;
        padding-left: 15px;
        font-size: 1rem;   
    }

    .header {
        height: 10vh;
        padding-left: 10px;    
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: #DDA853;
        background-image: url("/images/MakatangProgrammer-small3.jpg");
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .pageButtons {
        display: flex;
        justify-content: center;
        align-items: last baseline;
    }
}

a {
    color: white;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000000,
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000;
}

#btnNext, #btnBack {
    width: 80px;
    height: 30px;
    margin-top: 30px;
}

.container > .more {
    display: flex;
    justify-content: center;
}

.more button {
    border-radius: 5px;
}